SECRET_KEY=supersecretkey

DB_USER=root
DB_PASSWORD=root
DB_HOST=localhost
DB_NAME=electrostudent_assistant
GEMINI_API_KEY=gemini-key-here

# Frontend URL for CORS
FRONTEND_URL=http://localhost:5173

# Admin Credentials for Seeding
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123